<a class="btn btn-primary" href="#" role="button">Link</a>
<button class="btn btn-primary" type="submit">Button</button>



<button type="button" class="btn btn-primary">Primary</button>0



<button type="<a href="/delete/{{task.id}}"></a>" class="btn btn-primary"></button>



<div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">add task</button>
        </div>
      </div>